.grid-content {
  clear: both;
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
}
.grid-content.down {
  width: 100%;
  float: none;
  clear: inherit;
  padding-top: 0;
}
.grid-content.down .popular-content {
  display: none;
}
.grid-content.down .showMoreMain {
  display: none;
}
.grid-content .grid_item.bottom {
  display: none;
}
.grid-content.down .grid_item.bottom {
  display: block;
}
.grid-content.down .grid_item.top {
  display: none;
}
.grid-content h2:first-child:before{
  content: "Latest";
  display: inline-block;
  margin-right: 5px;
}
.grid_layout{
  width: calc(100% - 408px);
  float: left;
  align-items: flex-start;
  position: relative;
}
.grid_layout.news {
  margin-bottom: 70px;
}
.grid-content.down .grid_layout {
  margin-bottom: 0 !important;
}
.grid_layout .grid_item.rows {
  position: relative;
  width: calc(25% - 22px);
  margin-bottom: 30px;
  overflow: hidden;
  color: #fff;
  margin-right: 22px;
  clear: none;
  float: left;
  padding-right: 0 !important;
}
.grid_layout .grid_item{
  clear: both;
  float: unset;
}
.grid_layout .grid_item.top {
  padding-right: 22px;
}
.grid_layout .grid_item.rows img {
  width: 100%;
  height: 100%;
}

.grid_layout .grid_item.rows .snuggle {
  position: absolute;
  background-image: linear-gradient(0deg,rgba(0,0,0,0.7) 82%,transparent 100%);
  max-height: 140px;
  bottom: -78px;
  color: #fff;
  width: 100%;
  margin: 0;
  transition: .5s ease;
  padding-top: 5px;
}
.grid_layout .grid_item.rows .snuggle .domain {
  display: block;
  height: 18px;
  margin: 1px 0;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 18px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.9;
}
.grid_layout .grid_item.rows .snuggle .date_initialize,
.grid_layout .grid_item.rows .snuggle .datel {
  margin-left: 0;
}
.grid_layout .grid_item.first.top {
  overflow: hidden;
  width: calc(75% - 22px);
  position: relative;
  clear: none;
  float: left;
  margin-right: 22px;
  padding-right: 0;
}
.grid_layout .grid_item.first.top a {
  display: flex;
  text-align: center;
  position: initial;
  padding-top: 66.66%;
  width: 100%;
}
.grid_layout .grid_item.first.top img {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
}
.grid_layout .grid_item .snuggle {
  text-align: left;
}
.grid_layout .grid_item.first.top .snuggle {
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #fff;
  width: 100%;
  left: 0;
  margin-left: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,1) 52%,transparent 100%);
  padding-top: 10px;
  padding-bottom: 4px
}
.grid_layout .grid_item.first.top .snuggle b {
  margin-left: 0;
  display: block;
}
.grid_layout .grid_item.first.top .snuggle .description {
  height: 100%;
}

.grid_layout .grid_item.rows a {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background: rgba(0,0,0,0.5);
}

.grid_layout .grid_item.rows a img{
  position: absolute;
  top: 0;
  left: 0;
}

.list-content {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
  margin-top: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 12px;
}

.grid_layout .grid_item {
  margin-bottom: 30px;
}
.grid_layout > div:last-child {
  margin-bottom: 60px;
}
.grid_layout .grid_item a {
  display: flex;
  text-decoration: none;
}

.grid_layout .grid_item .img_wrap {
  display: inline-block;
  float: left;
  width: 117px;
  height: 117px;
  background: rgba(0,0,0,0.5);
}
.grid_layout .grid_item .img_wrap img {
  width: 100%;
  height: 100%;
}
.grid_layout .grid_item .snuggle {
  display: inline-block;
  max-height: 160px;
  overflow: hidden;
  margin-left: 15px;
  width: calc(100% - 132px);
  color: #333;
  padding: 0 4px;
  left: 0;
}
.grid_layout .grid_item .snuggle h6 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  max-height: 35px;
  display: -webkit-box;
  -webkit-box-orient: vertical;

}
.grid_layout .grid_item.rows .snuggle h6 {
  max-height: 96px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  overflow: hidden;
  -webkit-line-clamp: inherit;

}
.main_Section_name {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #777;
}
.Popular_name {
  position: absolute;
  top: -5px;
  font-size: 29px;
  right: 226px;
  color: #585757;
}
.Popular_name i{
  color: #0084f7;
  margin-right: 5px;
}
.grid-content.down .Popular_name {
  display: none;
}
.grid_layout .grid_item .snuggle .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  height: 57px;
  display: -webkit-box;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  margin-top: 3px;
}

.grid_layout .grid_item:last-child {
  margin-bottom: 30px
}

  /*========= Popular block ==========*/

.popular-content {
  width: 360px;
  display: inline-block;
  float: right;
  padding-right: 20px;
  /*margin-bottom: 30px;*/
}
.popular-content .item {
  margin-bottom: 20px;
}
.popular-content .item a {
  display: flex;
  text-decoration: none;
  color: #333;
}
.popular-content .item img {
  width: 96px;
  height: 96px;
}
.popular-content .item .snuggle {
  width: calc(100% - 91px);
  margin-left: 10px;
  text-align: left;
  max-height: 96px;
  overflow: hidden;
}
.popular-content .item .snuggle h6 {
  margin: 0;
  display: block;
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
  max-height: 42px;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.popular-content .item .snuggle b {
  font-size: 13px;
}
.popular-content .item .snuggle .description {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  max-height: 48px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.showMoreMain {
  margin: 0 auto;
  background: transparent;
  border: 2px solid #428bca;
  border-radius: 5px;
  padding: 8px 15px 5px 15px;
  line-height: 1;
  color: #428bca;
  transition: .3s;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.showMoreMain:hover {
  color: #fff;
  background: #428bca;
  text-decoration: none;
}
.btnWrp {
  margin: 0 !important;
  clear: both;
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%;
}
/*=========== Layot down ==========*/

.tab-content.down .grid_layout .grid_item {
  width: 140px;
  height: 140px;
  margin: 0 7px;
}
.tab-content.down .grid_layout .grid_item a{
  padding: 0;
}
.tab-content.down .grid_layout .grid_item img {
  position: relative;
}
.tab-content.down .grid_layout {
  justify-content: space-between;
  flex-wrap: nowrap;
  width: auto;
  float: inherit;
  position: relative;
  top: 5px;
  display: flex;
}
.tab-content.down .grid_layout .grid_item {
  margin: 0 0 0 7px;
}
.tab-content.down .lfbadge {
  border-left: 1px solid #c5c0c0;

}
.tab-content.down .tab-pane .lfbadge{
  display: none !important;
}
.tab-content.down .tab-pane.active .lfbadge{
  display: block !important;
}
#sliders {
  opacity: 1 !important;
}
/*body #sliders {
  left: 185px;
  width: calc(100% - 185px);
}*/

footer .lfopen {
  line-height: 0 !important;
  margin-left: 0 !important;
  top: -10px;
  right: 0;
  z-index: 999;
  height: 40px;
  float:left;
  clear: both;
  display: none;
  width: 100%;
  text-align: left;
}
footer .lfopen a:hover {
  outline: none !important;
  text-decoration:none;
}
footer .lfopen a{
  width: auto !important;
  text-align: left;
  margin-top: -2px;
  background: #fff;
  height: 27px;
  align-items: center;
}
footer .lfopen a img {
  width: 30px;
  height: 30px;
}
footer .lfopen a .category_name {
  font-size: 30px;
}
#lfbadgenews.lfopen {
  display: block !important;
}
.slider_controls {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  top: 10px;
}