@charset "UTF-8";

/*--- Header ---*/
.header {
	background: rgba(125, 166, 207, 0.9);
	margin: 0 0 20px;
	padding: 10px;
	color: #fff;
	text-align: center;
}

.header > a.logo {
	display: table;
	margin: 0 auto 10px;
	text-decoration: none;
}

.header > a.logo > img { width: 86px; }

.header > h1 {
	margin: 10px 0;
	color: #fff;
	font-size: 36px;
}

.header iframe {
	width: 100%;
	height: 180px;
	margin: 0 15px 15px 0;
}

/*--- Benefits ---*/
.benefits > div {
	min-height: 450px;
	overflow: hidden;
}

.benefits img.icon {
	display: block;
	width: 55%;
	margin: 0 auto 20px;
	text-align: center;
}

.benefits h3 {
	text-align: center;
	color: #428bca;
}

.benefits .description {
	color: #777;
	text-align: justify;
}

/*--- Team ---*/
.team {
	background: rgba(135, 173, 210, 0.2);
	margin-top: 20px;
	padding: 10px 5px;
	text-align: center;
}

.team h1,
.team h2,
.team h3,
.team h4 { color: #268abf; }

.team h4 { margin-bottom: 2px; }

.team img {
	width: 211px;
	height: 211px;
	margin-top: 15px;
}

.team p { color: #777; }

/*--- Adres ---*/
.adres {
	padding: 0 5px;
	color: #777;
	text-align: center;
}
.adres h2 { color: #268abf; }
.adres p { margin-left: 10px; }

#top-app {
	height: auto !important;
	overflow: hidden;
}

#top-app-title p {
	margin: 0 !important;
	padding: 15px 0 10px;
}

#top-app-txt { color: #777; }

#top-app-txt p {
	text-align: justify;
	padding: 0 15px;
}

#top-text {
	float: none;
	width: 100%;
	margin: 0;
}

#slider-flex {
	float: none !important;
	width: 100% !important;
}

#download-elements {
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
}

.flexslider { width: auto; }

#box-col,
#box-col2,
#horiz-title,
.horizontal-box,
#horiz-title2 {
	width: auto !important;
	float: none !important;
	height: auto !important;
	margin: auto !important;
}

.horizontal-box,
.img-col { text-align: center; }

#box-col p, #box-col2 p, .horizontal-box p,.block_title span{
	text-align: justify;
	font-size: 18px;
}
/*------app------*/
.img-col img,.horizontal-box img{
	width: 80%;
}
.block_title ,#horiz-title span,#horiz-title2 span {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #268abf;
}
#discover, #trending, #all_results {
	height: 420px;
	margin-top: 40px;
}