@charset "utf-8";

body{
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
  margin: 50px auto;
  width: 60%;
}

#container h2, h3, h4{
  color: #428bca;
  font-size: 1.7em;
  margin-top: 0;
}

#container ul{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 30px;
  list-style: none;
}

#container ul li{
  margin-bottom: 10px;
}

#container a{
  font-size: 1.1em;
  color: #777777;
}

#columns{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}