#rss_modal{
    font-family: Arial, Helvetica, Verdana, Arial sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: hidden;
}

#rss_modal .close{
    font-size: 39px;
    margin-top: -36px;
    /* top: -27px; */
    margin-bottom: -4px;
}

#rss_modal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

#rss_modal .modal-dialog .modal-content{
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#rss_modal .modal-dialog .modal-content .modal-header{
    position: fixed;
    padding: 3px 15px;
    z-index: 999;
    width: 100%;
    right: 0;
    background: white;
}

#rss_modal .modal-dialog .modal-content .modal-body{
    overflow-y: scroll;
    height: 100%;
}


#rss_modal .modal-dialog .modal-content .modal-body .top-content {
    font-family: Helvetica,Verdana,Arial sans-serif;
    text-align: center;
    position: initial;
    overflow: hidden;
    height: 143px;
    margin: 45px auto 0 auto;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka {
    display: inline-block;
    border-radius: 6px;
    height: 138px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .ads-brand {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    z-index: 200;
    left: 35px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka img {
    display: unset;
    text-indent: -999px;
    width: 100%;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .snuggle {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.81) 100%,#000 100%);
    display: block;
    max-height: 180px;
    padding: 3px 0;
    width: 100%;
    position: absolute;
    transition: top .6s ease;
    top: 79px;
    /*z-index: 99;*/
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .snuggle h6 {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 2px;
    max-height: 120px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .pb {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 200;
    height: 26px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .star-img img {
    width: 10px;
    height: 10px;
}

#carousel-modal .carousel-inner .right-content {
    display: inline-block;
    margin-right: 30px;
    width: 30%;
    float: right;
}


#carousel-modal{
    height: 90%;
    top: -10px;
}

#carousel-modal .right{
    right: 15px;
}
#carousel-modal .left{
    left: 15px;
}

#carousel-modal .carousel-control{
    width: 5%;
    background-image: none;
    text-shadow: none;
    color: #555;
    position: fixed;
}

#carousel-modal .carousel-inner{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    overflow: initial;
}

#carousel-modal .carousel-inner .item{
    margin: 0 auto;
    width: 100%;
}

#carousel-modal .carousel-inner .active{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

#carousel-modal .carousel-inner .item-left-block{
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 16px;
}

#carousel-modal .carousel-inner .item-right-block{
    display: inline-block;
    position: relative;
    width: 100%;

}

#carousel-modal .carousel-inner .item  .item-left-block .item-title {
    color: blue;
    text-align: center;
    font-size: 20px;
    max-height: 100%;
    overflow: visible;
}

#carousel-modal .carousel-inner .item  .item-left-block .item-title:hover{
    text-decoration: underline;
}

#carousel-modal .carousel-inner .item .item-left-block .item-descr{
    margin: 0;
    max-height: 220px!important;
    text-align: justify;
    color: #555;
    overflow: hidden;
}

#carousel-modal .carousel-inner .item .item-left-block .item-url{
    text-decoration: none;
}
#carousel-modal .carousel-inner .item .item-left-block .item-img {
    text-align: center;
}

#carousel-modal .carousel-inner .item .item-left-block .item-img img{
    display: inline-block;
    left: 0;
    border: 0;
    border-radius: 6px;
    max-width: 100%;
    max-height: 545px;
}

#carousel-modal .carousel-inner .item .item-left-block .item-footer{
    margin: 20px 0;
    border-top: 1px solid #e7e7e7;
    position: relative;
    text-align: center;
    padding: 20px 0 0 0;
    color: #555;
}


/* SIMILAR BlOCK */
#carousel-modal .carousel-inner .item .item-right-block .simart-title a {
    color: #555;
    font-weight: 600;
}
#carousel-modal .carousel-inner .item .item-right-block .simart-descr a {
    color: #555;
}
#carousel-modal .carousel-inner .item .item-right-block .simart .simart-splink{
    position: relative;
    text-align: center;
    margin-top: 30px;
    color: #777;
    margin-bottom: -15px;
    font-size: 20px;
    font-weight: bold;
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item {
    border: 1px solid rgba(80, 139, 247, 0.46);
    -webkit-box-shadow: 0 1px 2px 0 rgba(80, 139, 247, 0.46);
    box-shadow: 1px 1px 2px 0 rgba(80, 139, 247, 0.46);
    border-radius: 6px;
    margin-top: 30px;
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item .simart-title{
    margin: 0;
    font-size: 18px;
    padding: 10px 10px;
    color: #555;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item .simart-descr {
    max-height: 128px!important;
    overflow: hidden;
    text-align: justify;
    margin: 0 10px;
    font-size: 16px;
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item .simart-sublink{
    color: black;
    text-align: center;
    padding: 10px 0;
}
.simart-footer {
    height: 46px;
    margin: 10px 0 10px 0;
    border-top: 1px solid #e7e7e7
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item .pub-domain {
    color: green;
    text-align: center;
    width: 100%;
    float: left
}

#carousel-modal .carousel-inner .item .item-right-block .simart .simart-item .pub-date {
    white-space: nowrap;
    color: #555;
}
.image-item {
    /*float: left; */
    width: 100%;
    /* min-height: 60px; */
    /* margin-right: 15px; */
    margin-top: 4px;
    /* margin: 0 auto; */
}
.image-item img {
    width: 100%;
    border-radius: 6px;
    display: inline-block;
    border: 0;
    max-height: 350px;
}
.modal_share i {
    font-size: 19px;
    color: #fff;
    padding-top: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
}
.modal_share .fa.fa-google-plus {background-color: #bb0000;}
.modal_share .fa.fa-facebook {background-color: #3b5998;}
.modal_share .fa.fa-twitter {background-color: #00acee;}
.modal_share .fa.fa-pinterest {background-color: #cb2027;}
.modal_share ul>li {
    display: inline-block;
    margin: 0 10px;
}
.modal_share {
    position: relative;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}