@charset "utf-8";
@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');

html, body {
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	color: #268abf;
	text-align: center;
}

hr.lws {
	float: left;
	background: transparent;
	width: 100%;
	height: 1px;
}

.container-fluid .row,
.container .row {
	margin-left: -15px;
	margin-right: -15px;
}

#wrapper .container-fluid { padding: 0 0 15px 0; }

/*--- Header ---*/
.header {
	background: rgba(125, 166, 207, 0.9);
	margin: 0 0 20px;
	padding: 10px;
	text-align: center;
}

.header a.logo {
	display: table;
	margin: 0 auto 10px;
	text-decoration: none;
}

.header a.logo > img { width: 86px; }

.header h1 {
	margin: 10px 0;
	color: #fff;
	font-size: 36px;
}

/*--- Benefits ---*/
.benefits > div {
	min-height: 450px;
	overflow: hidden;
}

.benefits img.icon {
	display: block;
	width: 55%;
	margin: 0 auto 20px;
	text-align: center;
}

.benefits h3 {
	text-align: center;
	color: #428bca;
}

.benefits .description {
	color: #777;
	text-align: justify;
}

/*--- Team ---*/
.team {
	background: rgba(135, 173, 210, 0.2);
	margin-top: 20px;
	padding: 10px 5px;
	text-align: center;
}

.team h1,
.team h2,
.team h3,
.team h4 { color: #268abf; }

.team h4 { margin-bottom: 2px; }

.team img {
	width: 211px;
	height: 211px;
	margin-top: 15px;
}

.team p { color: #777; }

/*--- Adres ---*/
.adres {
	padding: 0 5px;
	color: #777;
	text-align: center;
}
.adres h2 { color: #268abf; }
.adres p { margin-left: 10px; }

/*--- Videos on Welcome page ---*/
.videos { color: #777; }

.videos iframe {
	width: 100%;
	min-height: 180px;
	height: 60vh;
}

.videos p {
	margin-bottom: 25px;
	text-align: justify;
}

footer {
	background: rgba(2, 32, 92, 0.66);
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

/*--- Show benefits ---*/
.show-benefits {
	text-align: center;
	padding: 40px 0 15px;
}

.show-benefits a { text-decoration: none; }

.show-benefits a > img {
	margin: 0 auto 15px;
	max-width: 50%;
}

.show-benefits a > h4 {
	font-size: 23px;
	font-weight: normal;
	text-decoration: underline;
}

.show-benefits a > p {
	color: #fff;
	text-align: justify;
	font-size: 17px;
}

/*--- Features ---*/
#features { margin-bottom: 30px; }

#features h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: normal;;
}

#features h6 {
	font-size: 24px;
	text-align: center;
}

#features p {
	text-align: justify;
	font-size: 18px;
}

#features img { max-width: 100%; }

.img-col img,.horizontal-box img{
	width: 80%;
}
.flex {
	margin-bottom: 176px;
	padding-bottom: 30px;
}

.embolded{
	color: black;
}