@charset "utf-8";

body { overflow-y: scroll; }

#search-images { display: none; }

.imagelist {
	margin:0;
	padding: 0;
	text-align: justify;
	list-style: none;
}

.imagelist > li {
	display: inline-block;
	height: 150px;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	list-style: none;
	vertical-align: top;
}

.imagelist li a img {
	display: block;
	height: 100%;
	max-width: 600px;
}

/*
	.imagelist:after {
		display: inline-block;
		width: 100%;
		height: 0;
		content: '';
	}
*/

#filter-images .img-item {
	display: inline-block;
	height: 150px;
}
